<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%t %d{dd/MM/yyyy HH:mm:ss} %c %M %p line %L -%m%n" />
		</layout>
	</appender>
	<appender name="infolog" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="standalone/log/restaurante-app_info.log" />
		<param name="MaxFileSize" value="2048KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%t %d{dd/MM/yyyy HH:mm:ss} %c %M %p line %L -%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>
	<appender name="errorlog" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="standalone/log/restaurante-app_error.log" />
		<param name="MaxFileSize" value="2048KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%t %d{dd/MM/yyyy HH:mm:ss} %c %M %p line %L -%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>
	<logger name="br.com.restaurante" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="infolog" />
		<appender-ref ref="errorlog" />
	</logger>
	<logger name="org.hibernate" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="console" />
		<appender-ref ref="infolog" />
		<appender-ref ref="errorlog" />
	</logger>
	<logger name="org" additivity="false">
		<level value="WARN" />
		<appender-ref ref="console" />
		<appender-ref ref="infolog" />
		<appender-ref ref="errorlog" />
	</logger>
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="console" />
		<appender-ref ref="infolog" />
		<appender-ref ref="errorlog" />
	</root>
</log4j:configuration>